<body id="page-top">
  <div id="wrapper">
    <app-admin-navbar></app-admin-navbar>
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <app-admin-header></app-admin-header>

        <div class="container-fluid">
          <h2>Type List</h2>
          <a
            class="btn btn-primary"
            (click)="toggleForm()"
            >Add Type</a
          >

          <!-- Hiển thị form nếu displayForm là true -->
          <div *ngIf="displayForm">
            <h2>{{ type.id ? "Edit Type" : "Add Type" }}</h2>

            <form (ngSubmit)="saveType()">
              <div class="form-group">
                <label for="name">Name:</label>
                <input
                  [(ngModel)]="type.name"
                  name="name"
                  id="name"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group">
                <label for="description">Description:</label>
                <input
                  [(ngModel)]="type.description"
                  name="description"
                  id="description"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group">
                <label for="pictureUrl">Picture:</label>
                <input type="file"
                  [(ngModel)]="type.pictureUrl"
                  name="pictureUrl"
                  id="pictureUrl"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group">
                <label for="status">Status:</label>
                <input
                  [(ngModel)]="type.status"
                  name="status"
                  id="status"
                  class="form-control"
                  required
                />
              </div>

              <!-- Add more form fields for additional properties -->

              <button type="submit" class="btn btn-primary">Save</button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="toggleForm()"
              >
                Cancel
              </button>
            </form>
          </div>

          <table class="table mt-3">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let type of types">
                <td>{{ type.id }}</td>
                <td>{{ type.name }}</td>
                <td>{{ type.description }}</td>
                <td><img src="{{ type.pictureUrl }}" alt="" style="width: 50px;"></td>
                <td>{{ type.status }}</td>
                <td>
                  <a
                    class="btn btn-warning"
                    (click)="editType(type)"
                    >Edit</a
                  >
                  <button
                    class="btn btn-danger"
                    (click)="deleteType(type.id!)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>
</body>
