.main {
  color: pink;

  .sort {
    color: pink;
    border: 2px solid;
    width: 120px;
    margin: 0 10px;

    &:hover {
      color: black;
      background-color: pink;
    }
  }

  .mv {
    margin: 0;
  }
}
.album {
  a > * {
    width: 100%;
  }
}
