<div class="" style="
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  ">
  <app-client-nav></app-client-nav>

  <div class="{{ !product?.id ? 'display-none' : '' }} ">
    <section class="product-detail">
      <div class="container px-4 px-lg-5 py-5" style="border-bottom: 4px solid pink">
        <div class="row gx-4 gx-lg-5 align-items-top">
          <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" src="{{ product?.pictureUrl }}" alt="..." />
          </div>
          <div class="col-md-6">
            <div class="small mb-1">SKU: {{ product?.productCode }}</div>
            <h2 class="fw-bolder">{{ product?.name }}</h2>
            <div class="fs-5 mb-5">
              <!-- <span class="text-decoration-line-through">{{
            product?.price | currency
          }}</span> -->
              <span>{{ product?.price | currency }}</span>
            </div>
            <p class="lead">
              {{ product?.description }}
            </p>
            <div class="d-flex">
              <div class="d-flex justify-content-start align-items-center">
                <fa-icon [icon]="faPlusCircle" (click)="this.incrementQty()" style="cursor: pointer; font-size: 1.5em;"
                  class="text-warning"></fa-icon>
                <span class="fw-bold mx-2" style="font-size: 1.5em;">{{this.quantity}}</span>
                <fa-icon [icon]="faMinusCircle" (click)="this.decrementQty()" style="cursor: pointer; font-size: 1.5em;"
                  class="text-warning"></fa-icon>
                <button (click)="this.addItemToBasket()" class="btn btn-outline-secondary btn-lg ms-4 {{
                  product?.quantity === 0 ? 'disabled' : ''
                }}">Update Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="" *ngFor="let item of products">
            <app-product-item [product]="item"></app-product-item>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container {{ !product?.id ? 'display' : 'display-none' }} ">
    <h1 style="color: pink">Sản phẩm hiện không có (╥ᆺ╥；) s0rr¥:(</h1>
  </div>
  <app-client-footer></app-client-footer>
</div>