<!-- <div *ngIf="!orderIsSubmittedStatus" class="d-flex float-none justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <fa-icon [icon]="faAngleLeft"></fa-icon> Back to Review
  </button>
  <button (click)="showPaypalButtons()" class="btn btn-outline-primary">
    Submit Order <fa-icon [icon]="faAngleRight"></fa-icon>
  </button>
</div>

<ngx-paypal *ngIf="orderIsSubmittedStatus" [config]="payPalConfig"></ngx-paypal> -->

Payment here!
<div class="d-flex float-none justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <fa-icon [icon]="faAngleLeft"></fa-icon> Back to Review
  </button>
  <button (click)="submitOrder()" class="btn btn-outline-primary">
    Submit Order <fa-icon [icon]="faAngleRight"></fa-icon>
  </button>
</div>