<div class="outer" style=" height: 100vh">
  <div class="login-header">
    <div class="container">
      <a class="login-brand d-flex" routerLink="./">
        <img src="/assets/img/unnamed.png" class="login-logo" alt="" />
        <p class="login-name">ARTS</p>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="">
        <div class="panel border bg-white" style="padding: 30px;max-width: 600px;
        margin: 0 auto;">
          <div class="panel-heading">
            <h3 class="font-weight-bold">Register</h3>
          </div>
          <div class="panel-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class=" form-register">
                <app-text-input [formControl]="registerForm.controls['displayName']" [label]="'Display Name'"
                  [iconFa]="'user'"></app-text-input>
                <app-text-input [isCheck]="true" [formControl]="registerForm.controls['email']"
                  [label]="'Email Address'" [iconFa]="'envelope-o'"></app-text-input>
                <app-text-input [isPassword]="true" [formControl]="registerForm.controls['password']" [iconFa]="'lock'"
                  [label]="'Password'" [type]="'password'"></app-text-input>
                <app-text-input [isPassword]="true" [formControl]="registerForm.controls['passwordConfirm']"
                  [iconFa]="'lock'" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
              </div>
              <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                  {{error}}
                </li>
              </ul>
              <button [disabled]="registerForm.invalid" type="submit" class="btn btn-block mt-4 w-100"
                style="background: pink; color: #fff">Register</button>
              <div class="text-center pt-4 text-muted">Already have an account? <a id="forgot" href="account/login"
                  routerLink="/login">Login</a> </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login-footer">
    <p>Copy right by Sem3</p>
  </div>
</div>