<div class="outer" style=" height: 100vh">
  <div class="login-header">
    <div class="container">
      <a class="login-brand d-flex" routerLink="../">
        <img src="/assets/img/unnamed.png" class="login-logo" alt="" />
        <p class="login-name">ARTS</p>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="" style="max-width: 400px;">
        <div class="panel border bg-white" style="padding: 30px">
          <div class="panel-heading">
            <h3 class="font-weight-bold">Login</h3>
          </div>
          <div class="panel-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- <form> -->
              <!-- <div class="form-group pt-3">
                <div class="input-field"
                  [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input autocomplete formControlName="email" type="text" placeholder="Email" required>
                </div>
                <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"
                  class="text-danger">*Email is required*</small>
              </div> -->
              <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email Address'"
                [iconFa]="'user'"></app-text-input>
              <app-text-input [isPassword]="true" [formControl]="loginForm.controls['password']" [label]="'Password'"
                [type]="'password'" [iconFa]="'lock'"></app-text-input>
              <!-- <div class="form-group pt-3">
                <div class="input-field"
                  [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                  <span class="fa fa-lock px-2"></span>
                  <input formControlName="password" type="password" placeholder="Password">
                  <button type="button" (click)="hideShowPass()" class="btn-eye">
                    <span class="fa {{eyeIcon}}"></span>
                  </button>
                </div>
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                  class="text-danger">*Password is required*</small>
                <small class="text-danger">*Password is required*</small>
              </div> -->
              <div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  class="font-weight-bold">Forgot password?</a> </div>
              <!-- <button (click)="onSubmit()" type="submit" class="btn btn-block mt-4 w-100" -->
              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-block mt-4 w-100"
                style="background: pink; color: #fff">Login</button>
              <div class="text-center pt-4 text-muted">Don't have an account? <a id="forgot" href="account/register"
                  routerLink="account/register">Register</a> </div>
            </form>
          </div>
          <div class="mx-3 my-2 py-2 bordert">
            <div class="text-center">
              <a href=" https://wwww.facebook.com" target="_blank" class="px-2"> <img style="height: 40px; width: 40px"
                  src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a>
              <a href="https://www.google.com" target="_blank" class="px-2"> <img style="height: 40px; width: 40px"
                  src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                  alt=""> </a>
              <a href="https://www.github.com" target="_blank" class="px-2"> <img style="height: 40px; width: 40px"
                  src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="login-footer">
    <p>Copy right by Sem3</p>
  </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Forget your password?</span><br>
                  <small>Please provide your E-mail we will send the reset link</small></p>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">
              <div class="form-group pt-3">
                  <div class="input-field"> <span class="fa fa-user p-2"></span> <input type="text" placeholder="Email"> </div>
              </div>
              <small class="text-danger">*Email is required*</small>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send</button>
          </div>
      </div>
  </div>
</div> -->