<div class="mt-4" [formGroup]="checkoutForm">
  <div class="row" formGroupName="deliveryForm" style="background: #fff;
  padding: 10px;
  margin-bottom: 20px;">
    <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
      <input type="radio" id="{{method.id}}" (click)="setShippingPrice(method)" value="{{method.id}}"
        formControlName="deliveryMethod" class="mx-2">
      <label for="{{method.id}}">
        <strong>{{method.shortName}} - {{method.price | currency}}</strong>
      </label>
      <div style="margin-left: 30px;">{{method.deliveryTime}}</div>

    </div>
  </div>
</div>


<div class="d-flex float-none justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <fa-icon [icon]="faAngleLeft"></fa-icon> Back to Address
  </button>
  <button [disabled]="checkoutForm.get('deliveryForm')?.invalid" class="btn btn-outline-primary" cdkStepperNext>
    Go to Review <fa-icon [icon]="faAngleRight"></fa-icon>
  </button>
</div>