<div class="row" *ngIf="router.url === '/admin/products'">
  <div class="col-12">
    <h3>Product Table</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Code</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Picture</th>
          <th scope="col">Type</th>
          <th scope="col">Brand</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of products">
            <th scope="row">1</th>
            <td>{{pro.productCode}}</td>
            <td>{{pro.name}}</td>
            <td>{{pro.description}}</td>
            <td>{{pro.price}}</td>
            <td>{{pro.pictureUrl}}</td>
            <td>{{pro.productType}}</td>
            <td>{{pro.productBrand}}</td>
            <td>{{pro.quantity}}</td>
            <td>{{pro.status}}</td>
            <td>
            <button type="button" class="btn btn-primary">
              <i class="far fa-eye"></i>
            </button>
            <button type="button" class="btn btn-success">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


<div class="row" *ngIf="router.url === '/admin/types'">
  <div class="col-12">
    <h3>Type Table</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Picture</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of types">
            <td>{{pro.id}}</td>
            <td>{{pro.name}}</td>
            <td>{{pro.description}}</td>
            <td>{{pro.pictureUrl}}</td>
            <td>{{pro.status}}</td>
            <td>
            <button type="button" class="btn btn-primary">
              <i class="far fa-eye"></i>
            </button>
            <button type="button" class="btn btn-success">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


<div class="row" *ngIf="router.url === '/admin/origins'">
  <div class="col-12">
    <h3>Origins Table</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Picture</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of origins">
            <td>{{pro.id}}</td>
            <td>{{pro.name}}</td>
            <td>{{pro.description}}</td>
            <td>{{pro.pictureUrl}}</td>
            <td>{{pro.status}}</td>
            <td>
            <button type="button" class="btn btn-primary">
              <i class="far fa-eye"></i>
            </button>
            <button type="button" class="btn btn-success">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
