<app-client-nav></app-client-nav>
<main class="main">
  <section
    class="py-5 text-center mv"
    style="background-image: url(/assets/img/mv.jpg)"
  >
    <div
      class="row py-lg-5"
      style="background-color: #000000c9; margin: 0 auto; max-width: 1000px"
    >
      <div class="mx-auto" style="max-width: 800px">
        <h1 class="">Products of Arts</h1>
        <p class="lead">
          Something short and leading about the collection below—its contents,
          the creator, etc. Make it short and sweet, but not too short so folks
          don’t simply skip over it entirely.
        </p>
        <p class="d-flex flex-wrap">
          <a
            href="#"
            class="btn sort my-2 {{
              item.id === typeIdSelected ? 'active' : ''
            }}"
            *ngFor="let item of types"
            (click)="onSelectProductType(item.id)"
            [class.active]="item.id === typeIdSelected"
          >
            {{ item?.name }}</a
          >
        </p>
        <div class="d-flex flex-wrap">
          <li
            class="btn sort my-2  {{
              item.id === typeIdSelected ? 'active' : ''
            }}"
            *ngFor="let item of origins"
            [class.active]="item.id === originIdSelected"
            [value]="item.id"
            (click)="item.id < 1 ? onOriginSelect(0) : onOriginSelect(item.id)"
          >
            {{ item?.name }}
          </li>
        </div>
      </div>
    </div>
  </section>

  <div
    class="album"
    style="display: flex; box-sizing: border-box; padding: 80px 0"
  >
    <div class="container">
      <div
        class="d-flex align-items-center justify-content-between"
        style="margin-bottom: 30px"
      >
        <div class="" style="width: 91%">
          <input
            #search
            (keyup.enter)="onSearch()"
            (keyup.escape)="onReset()"
            type="text"
            class="form-control"
            placeholder="Search"
            style="width: 200px"
          />
        </div>
        <div class="">
          <button class="btn btn-outline-primary my-2" (click)="onSearch()">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
        <div class="">
          <button class="btn btn-outline-success my-2" (click)="onReset()">
            <fa-icon [icon]="faRefresh"></fa-icon>
          </button>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-between">
        <div>
          <span *ngIf="this.totalCount && this.totalCount > 0">
            Showing
            <strong>
              {{ (this.pageNumber - 1) * this.pageSize + 1 }}
              -
              {{
                this.pageNumber * this.pageSize > this.totalCount
                  ? this.totalCount
                  : this.pageNumber * this.pageSize
              }}
            </strong>
            of <strong>{{ this.totalCount }}</strong> Results
          </span>

          <span *ngIf="this.totalCount === 0">
            There are <strong>0</strong> result for this filter
          </span>
        </div>
        <div>
          <select class="custom-select mb-3" (change)="onSortSelect($event)">
            <option selected="true" disabled="disabled">Sort by</option>
            <option *ngFor="let item of sortOptions" [value]="item.value">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div> -->
      <app-paging-header
        [pageNumber]="this.pageNumber"
        [pageSize]="this.pageSize"
        [totalCount]="this.totalCount"
      ></app-paging-header>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex justify-content-center"
    style="margin-bottom: 80px"
    *ngIf="this.totalCount && this.totalCount > 0"
  >
    <!-- <pagination
      [boundaryLinks]="true"
      [totalItems]="this.totalCount"
      [itemsPerPage]="this.pageSize"
      (pageChanged)="onPageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      class="pagination1"
    ></pagination> -->
    <app-pager
      [pageSize]="this.pageSize"
      [totalCount]="this.totalCount"
      (newPageNumber)="onPageChanged($event)"
      classCss="pagination1"
    ></app-pager>
  </div>
</main>
