.navbar {
  background-color: pink;

  ul li a {
    font-family: fantasy;
  }

  &-logo {
    height: 60px;
    width: 80px;
    object-fit: contain;
  }

  &-name {
    font-size: 50px;
    font-family: fantasy;
    margin: 0;
  }

  &-brand {
    margin-right: 20px;
  }
}
svg {
  height: 25px !important;
  width: 27px;
}
.list {
  width: 70%;
  flex-grow: inherit;
}

.cart {
  &-number {
    position: absolute;
    top: 0;
    right: 0;
    color: #db4545;
  }
}
